//color
$color-green-light: #a3cfbb;
$color-teal-light: #a6e9d5;
$color-bg-green: #1FAA60;
$color-bg-dark: #252b30;
$color-primary: rgba(31, 170, 96, 100);
$color-opacity: .1;
$color-primary-light: rgba(31, 170, 96, $color-opacity);
$bg-primay: #1FAA60;
$bg-dark: #1a1e21;
$bg-grey: #f8f8f8;
$bg-grey-greenish: #e9efec;
//sizes
$screen-size: 1200px;
$screen-size-md: 800px;
$screen-size-sm: 500px;
$screen-size-xs: 96%;

//border-color
$border-gray: rgba(221, 221, 221, 0.1);

//font sizes
$font-big: 2.8rem;
$font-small: 1.4rem;
