.p-5 {
  padding: 5rem;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 0.6rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pt-15 {
  padding-top: 15rem;
}

.pt-5 {
  padding-top: 5rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.w-28 {
  width: 28rem;
}

.w-100 {
  width: 100%;
}
.w-85 {
  width: 85%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}

.bg-white {
  background-color: #fff;
}

/**
_________________________
bg color
 */
.bg-primary {
  background-color: #1FAA60;
}
.bg-grey {
  background-color: #f8f8f8;
}
.bg-grey-greenish {
  background-color: #e9efec;
}
.bg-dark {
  background-color: #1a1e21;
}

/**
_________________________
background image
 */
.bg-repeat {
  background-repeat: repeat;
}

/**
_________________________
position
 */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

/**
_________________________
height
 */
.h-full {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

/**
_________________________
opacity
 */
.opacity-low {
  opacity: 0.3;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

/**
_________________________
text property
 */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-normalcase {
  text-transform: none;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #1a1e21;
}

.text-primary {
  color: #1faa60;
}

.text-big {
  font-size: 2.8rem;
}

.text-small {
  font-size: 1.4rem;
}

.text-bold {
  font-weight: 800;
}

.text-underline {
  text-decoration: underline;
}

.color-secondary {
  color: #1FAA60;
}

.zindex-9 {
  z-index: 9;
}

.image-holder .image {
  width: 100%;
  padding-top: 70%;
  position: relative;
}
.image-holder .image img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.d-table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  padding: 2px 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-50 {
  max-width: 50%;
  flex: 0 0 50%;
}

.float-right {
  float: right;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.ds-wrapper {
  max-width: 1080px;
  border-radius: 15px;
}
.ds-wrapper.landscape-mode {
  max-width: 100%;
}
.ds-wrapper.landscape-mode.style-2 .image-holder {
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.ds-wrapper.landscape-mode.style-2 .image-holder .image {
  padding-top: 60%;
}
.ds-wrapper.landscape-mode.style-2 .ds-event-wrapper.v4 .ds-sidebar {
  padding: 0 20px 0 20px;
  background-color: #f8f8f8;
  color: #000;
}
.ds-wrapper.landscape-mode.style-2 .ds-event-wrapper.v4 .ds-sidebar-head {
  margin: 0;
}
.ds-wrapper.landscape-mode.style-2 .ds-event-wrapper.v4 .ds-event-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ds-wrapper.landscape-mode.style-2 .ds-event-wrapper.v4 .event-list-item {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 0.8rem;
}
.ds-wrapper.landscape-mode.style-2 .ds-event-wrapper.v4 .event-list-item-wrapper {
  min-height: 145px;
}
.ds-wrapper.landscape-mode.style-2 .ds-event-wrapper.v4 .event-list-item-head {
  font-size: 1.2rem;
}
.ds-wrapper.landscape-mode.style-2 .ds-event-wrapper.v4 .event-list-item.current {
  background-color: transparent;
}
.ds-wrapper.landscape-mode.style-2 .ds-event-wrapper.v4 .event-list-item .table-cell {
  font-size: 1.2rem;
}
.ds-wrapper.landscape-mode.style-2 .event-list {
  padding: 0.8rem 0;
  min-height: auto;
}
.ds-organization-logo .logo-holder {
  position: relative;
}
.ds-event-top-head {
  position: relative;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.ds-event-top-head .logo-holder {
  position: relative;
  z-index: 99;
}
.ds-event-top-head .logo-holder img {
  max-height: 5rem;
}
.ds-event-top-head-title {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 3.4rem;
  padding: 0 10rem;
  margin: 0;
}
.ds-event-bottom-foot {
  background-color: #fff;
  padding: 0.6rem;
  position: absolute;
  background-color: transparent;
  right: 1rem;
  bottom: 0;
  z-index: 9;
}
.ds-event-bottom-foot p {
  font-size: 1.2rem;
  color: #3c3b3b;
}
.ds-event-bottom-foot img {
  max-width: 3rem;
  position: relative;
  top: -3px;
}
.ds-event-wrapper-head {
  background-color: #ffffff30;
}
.ds-event-wrapper-head .logo-holder {
  background-color: #fff;
  border: 2px dashed #252b30;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 15px;
  border-radius: 50%;
}
.ds-event-wrapper-head .logo-holder img {
  max-width: 100%;
}
.ds-event-wrapper-body .swiper {
  height: 100%;
}
.ds-event-wrapper .bg-pattern {
  background-size: 280px;
}
.ds-event-wrapper.v2 .section-title {
  font-size: 2.2rem;
  word-spacing: 4px;
  padding: 15px;
}
.ds-event-wrapper.v2 .ds-event-inner {
  display: flex;
  flex-wrap: wrap;
  height: 99vh;
}
@media (min-width: 1600px) {
  .ds-event-wrapper.v2 .ds-event-inner {
    height: auto;
  }
}
.ds-event-wrapper.v2 .ds-event-inner .ds-event-wrapper-body {
  flex: 0 0 78%;
  max-width: 78%;
}
.ds-event-wrapper.v2 .ds-event-inner .ds-event-wrapper-sidebar {
  flex: 0 0 22%;
  max-width: 22%;
  background-color: rgba(221, 221, 221, 0.1);
  background-color: #f8f8f8;
}
.ds-event-wrapper.v2 .ds-event-inner .ds-event-wrapper-sidebar-inner {
  background-color: #fff;
  padding: 0;
  margin: 2rem 2.8rem 2rem 1.3rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
.ds-event-wrapper.v2 .ds-event-head {
  margin: 0 auto;
}
.ds-event-wrapper.v2 .ds-event-body {
  margin: 0 auto;
}
.ds-event-wrapper.v2.v2-1 .ds-event-wrapper-sidebar {
  background-color: #f2f2f2;
}
.ds-event-wrapper.v2.v2-3 .ds-event-inner .ds-event-wrapper-body {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background: #000000;
  border-right: 4px solid #ddd;
  color: #fff;
  height: 100vh;
}
.ds-event-wrapper.v2.v2-3 .ds-event-inner .ds-event-wrapper-sidebar-inner {
  margin: 0;
  border-radius: 0;
  height: 100%;
}
.ds-event-wrapper.v2.v2-3 .ds-announcement-single-head {
  padding: 1.6rem 2.8rem;
}
.ds-event-wrapper.v2.v2-3 .event-content {
  padding: 0 2.8rem 1rem;
}
.ds-event-wrapper.v2.v2-3 .tag {
  background-color: #1faa60;
}
.ds-event-wrapper.v4.bg-grey {
  background-color: #f2f2f2;
}
.ds-event-wrapper.v4 .ds-event-single.v3 .event-content {
  height: auto;
  display: block;
  max-width: 85%;
  margin: 0 auto;
}
.ds-event-wrapper.v4 .ds-sidebar {
  padding: 10px 15px 0;
  background-color: #1FAA60;
  color: #fff;
}
.ds-event-wrapper.v4 .ds-sidebar-head {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list-item {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  border: 0;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list-item.current .event-list-item-head {
  background-color: #000;
  color: #fff;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list-item.current .event-list-item-wrapper {
  background-color: #fff;
  border-color: #000;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list-item-wrapper {
  border: 4px solid #b2dfc7;
  border-radius: 8px 8px;
  background-color: #eef6f5;
  color: #202020;
  overflow: hidden;
  min-height: 166px;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list-item-head {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 700;
  background: #bef1d6;
  color: #1a1b1a;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list-item .table-cell {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list-item .table-cell.left {
  width: 40%;
}
.ds-event-wrapper.v4 .ds-sidebar .event-list-item-body {
  padding: 10px;
}
.ds-event-wrapper.layout-portrait .ds-event-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ds-event-wrapper.layout-portrait .ds-event-single .event-content {
  min-height: 66vh !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.ds-event-inner {
  min-height: calc(100vh - 7rem);
}
.ds-event-single {
  font-size: 2.2rem;
}
.ds-event-single.v1 {
  background: #ffffff57;
  padding: 1rem;
  border-radius: 15px;
  border-bottom: 4px solid;
}
.ds-event-single.v2 {
  max-width: 92%;
  margin: 0 auto;
}
.ds-event-single.v3 {
  height: 100%;
}
.ds-event-single.v3 .event-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
}
.ds-event-single p {
  line-height: 1.8;
  margin: 0;
}
.ds-announcement-single-head {
  padding: 1.6rem;
  display: flex;
}
.ds-announcement-single-head .ds-event-head {
  flex: 0 0 55%;
  max-width: 55%;
}
.ds-announcement-single-head .ds-event-banner {
  flex: 0 0 45%;
  max-width: 45%;
}
.ds-announcement-single-head .ds-event-banner .image {
  padding-top: 56%;
}
.ds-sidebar-head {
  padding: 0.8rem 0.3rem 0 1.2rem;
  border-bottom: 3px solid;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.4;
}

.text-highlight {
  background-color: #fff;
  color: #1FAA60;
  padding: 15px;
  font-weight: 700;
  border-radius: 0.4rem;
  border: 1px solid;
  border-left: 4px solid;
  text-align: left;
  line-height: 1.3 !important;
}

.tag {
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.2 !important;
  padding: 4px 15px;
  border-radius: 8px;
  display: inline-block;
}
.tag.bg-primary {
  background-color: #1FAA60;
}

.table-cell.left {
  width: 40%;
  padding-left: 0;
}

.event-list {
  padding: 20px 0;
  min-height: calc(100vh - 22rem);
}
.event-list-item {
  border-bottom: 1px solid rgba(221, 221, 221, 0.41);
  padding: 1rem 1.2rem;
}
.event-list-item:last-child {
  border-bottom: 0;
}
.event-list-item .table-cell {
  font-size: 1.3rem;
}
.event-list-item-head {
  font-size: 1.2rem;
  color: #1FAA60;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
}
.event-list-item.current {
  border-left: 3px solid;
  border-left-color: #1FAA60;
  background-color: rgba(31, 170, 96, 0.1);
}
.event-list-item .text-yellow {
  color: #ffc107;
}
.event-list-item .text-blue {
  color: #7bc4ff;
}
.event-image {
  padding: 2rem 2.8rem;
  box-sizing: border-box;
}
.event-content {
  padding: 2rem 2.8rem;
  display: flex;
  align-items: center;
}

.title-big {
  font-size: 2.2rem;
  line-height: 1.4;
}

.day-name {
  border: 1px dotted #1faa60;
  color: #1FAA60;
  text-align: left;
  line-height: 1;
  font-size: 1.3rem !important;
  padding: 2px;
}

/*# sourceMappingURL=style.css.map */
