@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&Inter:wght@400;700;800&Open+Sans:wght@400;600;800&family=Source+Sans+Pro:wght@400;600;700&display=swap");
html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  html, body {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  html, body {
    font-size: 16px;
  }
}

p {
  font-size: 1.6rem;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 800;
}

.p-5 {
  padding: 5rem;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 0.6rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pt-15 {
  padding-top: 15rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.w-28 {
  width: 28rem;
}

.bg-white {
  background-color: #fff;
}

/**
_________________________
bg color
 */
.bg-primary {
  background-color: #1FAA60;
}

.bg-grey {
  background-color: #e7dfdf;
}

/**
_________________________
background image
 */
.bg-repeat {
  background-repeat: repeat;
}

/**
_________________________
position
 */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

/**
_________________________
height
 */
.h-full {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

/**
_________________________
opacity
 */
.opacity-low {
  opacity: 0.4;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

/**
_________________________
text property
 */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-normalcase {
  text-transform: none;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #1a1e21;
}

.text-big {
  font-size: 2.2rem;
}

.text-small {
  font-size: 1.6rem;
}

.text-bold {
  font-weight: 800;
}

.color-secondary {
  color: #1FAA60;
}

.zindex-9 {
  z-index: 9;
}

.image-holder .image {
  width: 100%;
  padding-top: 56%;
  position: relative;
}
.image-holder .image img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.d-table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  padding: 2px 10px;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.ds-wrapper {
  max-width: 1080px;
  border: 8px solid;
  border-radius: 15px;
}
.ds-event-wrapper {
  min-height: 95vh;
}
.ds-event-wrapper-head {
  background-color: #ffffff30;
}
.ds-event-wrapper-head .logo-holder {
  background-color: #fff;
  border: 2px dashed #252b30;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 15px;
  border-radius: 50%;
}
.ds-event-wrapper-head .logo-holder img {
  max-width: 100%;
}
.ds-event-wrapper .bg-pattern {
  background-size: 280px;
}
.ds-event-wrapper.v2 .section-title {
  font-size: 2.2rem;
  word-spacing: 4px;
  padding: 15px;
}
.ds-event-wrapper.v2 .ds-event-inner {
  display: flex;
  flex-wrap: wrap;
  height: 99vh;
}
@media (min-width: 1600px) {
  .ds-event-wrapper.v2 .ds-event-inner {
    height: auto;
  }
}
.ds-event-wrapper.v2 .ds-event-inner .ds-event-wrapper-body {
  flex: 0 0 70%;
  max-width: 70%;
}
.ds-event-wrapper.v2 .ds-event-inner .ds-event-wrapper-sidebar {
  flex: 0 0 30%;
  max-width: 30%;
  background-color: #1a1e21;
}
.ds-event-wrapper.v2 .ds-event-inner .ds-event-wrapper-sidebar-inner {
  padding: 0.4rem 0.8rem;
}
.ds-event-wrapper.v2 .ds-event-head {
  width: 85%;
  margin: 0 auto;
}
.ds-event-wrapper.v2 .ds-event-body {
  max-width: 85%;
  margin: 0 auto;
}
.ds-event-wrapper.v2.v2-1 .ds-event-wrapper-sidebar {
  background-color: #f2f2f2;
}
.ds-event-single {
  font-size: 2.2rem;
}
.ds-event-single.v1 {
  background: #ffffff57;
  padding: 1rem;
  border-radius: 15px;
  border-bottom: 4px solid;
}
.ds-event-single.v2 {
  max-width: 92%;
  margin: 0 auto;
}
.ds-event-single.v3 {
  height: 100%;
}
.ds-event-single.v3 .event-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
}
.ds-sidebar-head hr {
  margin-left: -13px;
  margin-right: -13px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.4;
}

.text-highlight {
  background-color: #fff;
  color: #1FAA60;
  padding: 15px;
  font-weight: 700;
  border-radius: 0.4rem;
}

.tag {
  background-color: #000;
  color: #fff;
  line-height: 1;
  padding: 4px 15px;
  border-radius: 8px;
  display: inline-block;
}

.table-cell.left {
  width: 38%;
  padding-left: 0;
}

.event-list-item {
  border-bottom: 1px solid rgba(221, 221, 221, 0.41);
  margin-bottom: 2rem;
}
.event-list-item .table-cell {
  font-size: 1.3rem;
}
.event-list-item-head {
  font-size: 1.15rem;
  background: #767676;
  color: #fff;
  line-height: 1;
  padding: 3px 10px;
}
.event-list-item.current .event-list-item-head {
  background-color: #1FAA60;
}
.event-list-item.current .event-list-item-body {
  background: #fff;
  color: #000;
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
